.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // &__logo {
  //   //
  // }
  &__menu {
    width: 50%;
    height: 2rem;

    @include md {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      background: #363636;
      border-top: 1px solid rgba(102, 102, 102, .5);
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    display: none;

    @include md {
      display: block;
      font-size: 1.5rem;
      margin-bottom: .25rem;
    }
  }

  &__name {
    font-weight: 600;

    @include sm {
      display: none;
    }
  }
}

.active-link {
  position: relative;
  color: orange;
  transition: .3s;
}