@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  background: #363636;
}

a {
  text-decoration: none;
  color: #eee;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding: 5rem 0 2rem;
  min-height: 100vh;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.top {
  position: fixed;
  right: 3%;
  bottom: 5%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.top:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .top {
    bottom: 20%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.sticky {
  background: #363636;
  -webkit-box-shadow: 0 5px 20px rgba(255, 255, 255, 0.05);
          box-shadow: 0 5px 20px rgba(255, 255, 255, 0.05);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  width: 50%;
  height: 2rem;
}

@media (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: #363636;
    border-top: 1px solid rgba(102, 102, 102, 0.5);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icon {
  display: none;
}

@media (max-width: 767px) {
  .nav__icon {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .25rem;
  }
}

.nav__name {
  font-weight: 600;
}

@media (max-width: 375px) {
  .nav__name {
    display: none;
  }
}

.active-link {
  position: relative;
  color: orange;
  -webkit-transition: .3s;
  transition: .3s;
}

.home {
  position: relative;
  background-color: #111;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 767px) {
  .home {
    height: calc(100vh - 4rem);
  }
}

.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home h2 {
  position: relative;
  font-size: 8rem;
}

@media (max-width: 375px) {
  .home h2 {
    font-size: 6rem;
  }
}

.home__mouse {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
}

@-webkit-keyframes scroll {
  0% {
    top: 80%;
  }
  100% {
    top: 90%;
  }
}

@keyframes scroll {
  0% {
    top: 80%;
  }
  100% {
    top: 90%;
  }
}

.about {
  background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#3b3b3b));
  background: linear-gradient(#363636, #3b3b3b);
  position: relative;
}

.about__card:hover {
  -webkit-transform: rotateX(20deg) rotateY(-20deg);
          transform: rotateX(20deg) rotateY(-20deg);
}

.skills {
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#535353));
  background: linear-gradient(#3b3b3b, #535353);
}

.skills .section__title {
  color: #3b3b3b;
  text-shadow: 1px 1px black, -1px -1px white;
}

.skills p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 2rem;
}

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#707070));
  background: linear-gradient(#535353, #707070);
}

.portfolio .pic {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .portfolio .pic {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 375px) {
  .portfolio .pic {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.portfolio .pic__item {
  padding: .25rem;
  position: relative;
  counter-increment: item;
  overflow: hidden;
}

.portfolio .pic__item img {
  width: 100%;
}

.portfolio .pic--hovereffect {
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid orange;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio .pic--hovereffect::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5rem;
  content: counter(item);
}

.contactme {
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#9a9a9a));
  background: linear-gradient(#707070, #9a9a9a);
}
/*# sourceMappingURL=all.css.map */